.probe
.vscode/probe.code-snippets
.vscode/recipe.json
.mixin.out
.probe
assets
cache
cachedImages
coremods
crash-reports
datapacks
defaultconfigs
downloads
ESM
fancymenu_data
ftbbackups3
kiwipacks
local
logs
moddata
mods
patchouli_books
portable_blueprints
resourcepacks
saves
schemtics
screenshots
server-resource-packs
shaderpacks
spark-modernfix
texturepacks
worldstripper
.curseclient
command_history.txt
icon.png
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
servers.dat
usercache.json
usernamecache.json
user-prefs.json