.probe
.vscode/probe.code-snippets
.vscode/recipe.json
.mixin.out
.probe
assets
cache
cachedImages
config/ars_nouveau/*
coremods
crash-reports
datapacks
defaultconfigs
downloads
ESM
fancymenu_data
ftbbackups3
kiwipacks
local
logs
moddata
mods
patchouli_books
portable_blueprints
resourcepacks
saves
schemtics
screenshots
server-resource-packs
shaderpacks
spark-modernfix
texturepacks
worldstripper
.curseclient
command_history.txt
icon.png
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
servers.dat
usercache.json
usernamecache.json
user-prefs.json
config/bettervillage_1.properties
config/iris.properties
config/libraryferret_1.properties
config/packetfixer.properties
config/uwrad.properties
config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
config/fabric/indigo-renderer.properties
*/*.bak
ct_dumps